@{
	Layout = null;
}
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My Umbraco App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/site.css" />
    @Html.AntiForgeryToken()

</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a> |
            <a href="/my-tasks/">My Tasks</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>©Built with Umbraco</p>
    </footer>
</body>
</html>
